<%= form_for(@team, html: {class: 'form-horizontal'}) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :constructor %><br>
    <%= f.text_field :constructor %>
  </div>
  <div class="field">
    <%= f.label :podiums %><br>
    <%= f.text_field :podiums %>
  </div>
  <div class="field">
    <%= f.label :driver1 %><br>
    <%= f.text_field :driver1 %>
  </div>
  <div class="field">
    <%= f.label :driver2 %><br>
    <%= f.text_field :driver2 %>
  </div>
  <div class="field">
    <%= f.label :titles %><br>
    <%= f.number_field :titles %>
  </div>
  <div class="field">
    <%= f.label :livery %><br>
    <%= f.file_field :livery, class: 'img-upload' %>
  </div>
    <br/>


  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
