<style>
    p {
        margin: 0 0 10px;
        line-height: 30px;
    }
</style>
<h1>Team Details</h1>

<br/>

<table class="table">
  <tr>
    <th rowspan="6" width="40%"><%= image_tag @team.livery_url(:original) %></th>
    <td><strong>Constructor</strong></td> <td><%= @team.constructor.titleize %></td>
  </tr>
  <tr><td><strong>Name</strong></td> <td><%= @team.name.titleize %></td></tr>
  <tr><td><strong>Podiums</strong></td> <td><%= @team.podiums %></td></tr>
  <tr><td><strong>Driver1</strong></td> <td><%= @team.driver1.titleize %></td></tr>
  <tr><td><strong>Driver2</strong></td> <td><%= @team.driver2.titleize %></td></tr>
  <tr><td><strong>Titles</strong></td> <td><%= @team.titles %></td></tr>
</table>

<br/>

<%= link_to 'Back', root_path %>
